#chatPanel {
  display: none;
}

#messages {
  height: 20em;
  width: 20em;
  overflow-x: wrap;
  overflow-y: scroll;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.username {
  display: block;
  font-style: italic;
  color: #999999;
}

.username::after {
  content: ":";
}
